@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="text-center">
    <h3 class="text-white">Access Denied</h3>
    <dv class="text-white">
        You do not have Permission to access this page
    </dv>
</div>


