@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="ForgetPassword" asp-controller="Account" class="sign__form">
    <div class="sign__group">
        <input type="email" asp-for="@Model.Email" class="sign__input" placeholder="Email">
        <span asp-validation-for="@Model.Email" class="text-danger"> </span>

    </div>
    <input type="submit" name="Send" class="sign__btn" />

    <span class="sign__text">We will send a password to your Email</span>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}